@define-mixin button {
  & {
    --_icon-size: 1.25em;
    appearance: none;
    outline: revert;
    outline-offset: var(--focus-outline-offset);
    cursor: pointer;
    display: inline-flex;
    gap: var(--space-xs);
    padding: var(--button-padding, var(--space-xs) var(--space-m));
    font: inherit;
    text-align: center;
    color: var(--button-text-color, var(--color-text-1));
    background-color: var(--button-bg-color, var(--color-surface-2));
    border: var(--button-border-width, 1px) var(--button-border-style, solid)
      var(--button-border-color, currentcolor);
    border-radius: var(--radius-s);
    box-shadow: var(--shadow-1);
    line-height: normal;
    text-decoration: none;
    position: relative;
  }

  &:active {
    top: 1px;
  }
}

:where(button, input[type="submit"], input[type="reset"], .button) {
  @mixin button;
}

input[type="file"]::file-selector-button {
  @mixin button;
}

:where(
    button,
    [type="submit"],
    [type="reset"],
    .button
  )[data-variant="primary"],
input[type="file"]::file-selector-button {
  --button-bg-color: var(--color-brand-1);
  --button-border-color: var(--color-brand-1);
  --button-text-color: var(--color-text-1-inverse);
}

:where(
    button,
    [type="submit"],
    [type="reset"],
    .button
  )[data-variant="secondary"] {
  --button-bg-color: var(--color-brand-2);
  --button-border-color: var(--color-brand-2);
  --button-text-color: var(--color-text-1-inverse);
}

:where(
    button,
    [type="submit"],
    [type="reset"],
    .button
  )[data-variant="dashed"] {
  --button-border-style: dashed;
}

:where(button, [type="submit"], [type="reset"], .button) svg {
  inline-size: var(--button-icon-size, var(--_icon-size));
  block-size: var(--button-icon-size, var(--_icon-size));
}

[data-group="actions"] {
  justify-content: space-between;
  display: flex;
}
