input[type="file"] {
  --_offset: 3px;
  --_gap: var(--space-xs);
  appearance: none;
  padding: var(--_offset);
  box-shadow: none;
  background-color: transparent;
  border-style: dashed;
  cursor: pointer;

  &::file-selector-button {
    margin-inline-end: var(--space-xs);
  }
}

[dir="rtl"] input[type="file"]::file-selector-button {
  margin-inline-end: unset;
  margin-inline-start: var(--space-xs);
}
