:where(html) {
  --brand-h: 210;
  --brand-s: 100%;
  --brand-l: 48%;

  /* light */
  --brand-1-light: hsl(var(--brand-h) var(--brand-s) var(--brand-l));
  --brand-2-light: hsl(330 100% 60%);
  --text-1-light: hsl(var(--brand-h) var(--brand-s) 10%);
  --text-2-light: hsl(var(--brand-h) 10% 40%);
  --text-1-inverse-light: hsl(var(--brand-h) var(--brand-s) 98%);
  --text-2-inverse-light: hsl(var(--brand-h) var(--brand-s) 90%);
  --surface-0-light: hsl(var(--brand-h) 0% 100%);
  --surface-1-light: hsl(var(--brand-h) 25% 90%);
  --surface-2-light: hsl(var(--brand-h) 20% 99%);
  --surface-3-light: hsl(var(--brand-h) 20% 92%);
  --surface-4-light: hsl(var(--brand-h) 20% 80%);

  /* dark */
  --brand-1-dark: hsl(var(--brand-h) var(--brand-s) calc(var(--brand-l) / 1.2));
  --brand-2-dark: hsl(330 100% 40%);
  --text-1-dark: hsl(var(--brand-h) 15% 90%);
  --text-2-dark: hsl(var(--brand-h) 5% 70%);
  --surface-0-dark: hsl(var(--brand-h) 0% 0%);
  --surface-1-dark: hsl(var(--brand-h) 8% 6%);
  --surface-2-dark: hsl(var(--brand-h) 8% 12%);
  --surface-3-dark: hsl(var(--brand-h) 8% 20%);
  --surface-4-dark: hsl(var(--brand-h) 8% 25%);

  /* state */
  --color-highlight: #f7f716;
  --color-surface-invalid: #fdd5d5;
  --color-surface-success: #d2f6d4;
  --color-border-invalid: #f42323;
  --color-border-success: #02ac02;
  --color-text-invalid: #f42323;
  --color-text-success: #02ac02;
}

@define-mixin color-scheme-light {
  & {
    color-scheme: light;
    --color-brand-1: var(--brand-1-light);
    --color-brand-2: var(--brand-2-light);
    --color-text-1: var(--text-1-light);
    --color-text-2: var(--text-2-light);
    --color-text-1-inverse: var(--text-1-inverse-light);
    --color-text-2-inverse: var(--text-2-inverse-light);
    --color-surface-0: var(--surface-0-light);
    --color-surface-1: var(--surface-1-light);
    --color-surface-2: var(--surface-2-light);
    --color-surface-3: var(--surface-3-light);
    --color-surface-4: var(--surface-4-light);

    --icon-chevron: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxwb2x5bGluZSBwb2ludHM9IjYgOSAxMiAxNSAxOCA5Ii8+PC9zdmc+");
    --icon-date: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJXaW5kb3dUZXh0IiBkPSJNMTEuOTkgMkM2LjQ3IDIgMiA2LjQ4IDIgMTJzNC40NyAxMCA5Ljk5IDEwQzE3LjUyIDIyIDIyIDE3LjUyIDIyIDEyUzE3LjUyIDIgMTEuOTkgMnpNMTIgMjBjLTQuNDIgMC04LTMuNTgtOC04czMuNTgtOCA4LTggOCAzLjU4IDggOC0zLjU4IDgtOCA4eiIvPjxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48cGF0aCBmaWxsPSJXaW5kb3dUZXh0IiBkPSJNMTIuNSA3SDExdjZsNS4yNSAzLjE1Ljc1LTEuMjMtNC41LTIuNjd6Ii8+PC9zdmc+");
    --icon-time: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNSIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJXaW5kb3dUZXh0IiBkPSJNMjAgM2gtMVYxaC0ydjJIN1YxSDV2Mkg0Yy0xLjEgMC0yIC45LTIgMnYxNmMwIDEuMS45IDIgMiAyaDE2YzEuMSAwIDItLjkgMi0yVjVjMC0xLjEtLjktMi0yLTJ6bTAgMThINFY4aDE2djEzeiIvPjxwYXRoIGZpbGw9Im5vbmUiIGQ9Ik0wIDBoMjR2MjRIMHoiLz48L3N2Zz4=");
    --icon-invalid: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmNDIzMjMiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSIxMCIvPjxsaW5lIHgxPSIxMiIgeTE9IjgiIHgyPSIxMiIgeTI9IjEyIi8+PGxpbmUgeDE9IjEyIiB5MT0iMTYiIHgyPSIxMi4wMSIgeTI9IjE2Ii8+PC9zdmc+");
    --icon-success: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMwMmFjMDIiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0iZmVhdGhlciBmZWF0aGVyLWNoZWNrIj48cG9seWxpbmUgcG9pbnRzPSIyMCA2IDkgMTcgNCAxMiIvPjwvc3ZnPg==");
  }
}

@define-mixin color-scheme-dark {
  & {
    color-scheme: dark;
    --color-brand-1: var(--brand-1-dark);
    --color-brand-2: var(--brand-2-dark);
    --color-text-1: var(--text-1-dark);
    --color-text-2: var(--text-2-dark);
    --color-text-1-inverse: var(--text-1-inverse-dark);
    --color-text-2-inverse: var(--text-2-inverse-dark);
    --color-surface-0: var(--surface-0-dark);
    --color-surface-1: var(--surface-1-dark);
    --color-surface-2: var(--surface-2-dark);
    --color-surface-3: var(--surface-3-dark);
    --color-surface-4: var(--surface-4-dark);

    --icon-chevron: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IndoaXRlICAgICAiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48cG9seWxpbmUgcG9pbnRzPSI2IDkgMTIgMTUgMTggOSIvPjwvc3ZnPg==");
    --icon-date: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNSIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNMjAgM2gtMVYxaC0ydjJIN1YxSDV2Mkg0Yy0xLjEgMC0yIC45LTIgMnYxNmMwIDEuMS45IDIgMiAyaDE2YzEuMSAwIDItLjkgMi0yVjVjMC0xLjEtLjktMi0yLTJ6bTAgMThINFY4aDE2djEzeiIvPjxwYXRoIGZpbGw9Im5vbmUiIGQ9Ik0wIDBoMjR2MjRIMHoiLz48L3N2Zz4=");
    --icon-time: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMTEuOTkgMkM2LjQ3IDIgMiA2LjQ4IDIgMTJzNC40NyAxMCA5Ljk5IDEwQzE3LjUyIDIyIDIyIDE3LjUyIDIyIDEyUzE3LjUyIDIgMTEuOTkgMnpNMTIgMjBjLTQuNDIgMC04LTMuNTgtOC04czMuNTgtOCA4LTggOCAzLjU4IDggOC0zLjU4IDgtOCA4eiIvPjxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMTIuNSA3SDExdjZsNS4yNSAzLjE1Ljc1LTEuMjMtNC41LTIuNjd6Ii8+PC9zdmc+");
  }
}

:where(html, .theme-light) {
  @mixin color-scheme-light;
}

:where(.theme-dark) {
  @mixin color-scheme-dark;
}

@media (prefers-color-scheme: dark) {
  :where(html:not(.theme-light)) {
    @mixin color-scheme-dark;
  }
}
