:where(html) {
  --brand-h: 210;
  --brand-s: 100%;
  --brand-l: 48%;

  /* light */
  --brand-1-light: hsl(var(--brand-h) var(--brand-s) var(--brand-l));
  --brand-2-light: hsl(330 100% 60%);
  --text-1-light: hsl(var(--brand-h) var(--brand-s) 10%);
  --text-2-light: hsl(var(--brand-h) 10% 40%);
  --text-1-inverse-light: hsl(var(--brand-h) var(--brand-s) 98%);
  --text-2-inverse-light: hsl(var(--brand-h) var(--brand-s) 90%);
  --surface-0-light: hsl(var(--brand-h) 0% 100%);
  --surface-1-light: hsl(var(--brand-h) 25% 90%);
  --surface-2-light: hsl(var(--brand-h) 20% 99%);
  --surface-3-light: hsl(var(--brand-h) 20% 92%);
  --surface-4-light: hsl(var(--brand-h) 20% 80%);

  /* dark */
  --brand-1-dark: hsl(var(--brand-h) var(--brand-s) calc(var(--brand-l) / 1.2));
  --brand-2-dark: hsl(330 100% 40%);
  --text-1-dark: hsl(var(--brand-h) 15% 90%);
  --text-2-dark: hsl(var(--brand-h) 5% 70%);
  --surface-0-dark: hsl(var(--brand-h) 0% 0%);
  --surface-1-dark: hsl(var(--brand-h) 8% 6%);
  --surface-2-dark: hsl(var(--brand-h) 8% 12%);
  --surface-3-dark: hsl(var(--brand-h) 8% 20%);
  --surface-4-dark: hsl(var(--brand-h) 8% 25%);

  --color-surface-invalid: #fdd5d5;
  --color-surface-success: #d2f6d4;
  --color-border-invalid: red;
  --color-border-success: green;
  --color-text-invalid: red;
  --color-text-success: green;
}

@mixin color-scheme-light {
  & {
    color-scheme: light;
    --color-brand-1: var(--brand-1-light);
    --color-brand-2: var(--brand-2-light);
    --color-text-1: var(--text-1-light);
    --color-text-2: var(--text-2-light);
    --color-text-1-inverse: var(--text-1-inverse-light);
    --color-text-2-inverse: var(--text-2-inverse-light);
    --color-surface-0: var(--surface-0-light);
    --color-surface-1: var(--surface-1-light);
    --color-surface-2: var(--surface-2-light);
    --color-surface-3: var(--surface-3-light);
    --color-surface-4: var(--surface-4-light);
    --icon-chevron: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3e%3crect width='256' height='256' fill='none'/%3e%3cpolyline points='208 96 128 176 48 96' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='24'/%3e%3c/svg%3e");
  }
}

@mixin color-scheme-dark {
  & {
    color-scheme: dark;
    --color-brand-1: var(--brand-1-dark);
    --color-brand-2: var(--brand-2-dark);
    --color-text-1: var(--text-1-dark);
    --color-text-2: var(--text-2-dark);
    --color-text-1-inverse: var(--text-1-inverse-dark);
    --color-text-2-inverse: var(--text-2-inverse-dark);
    --color-surface-0: var(--surface-0-dark);
    --color-surface-1: var(--surface-1-dark);
    --color-surface-2: var(--surface-2-dark);
    --color-surface-3: var(--surface-3-dark);
    --color-surface-4: var(--surface-4-dark);
    --icon-chevron: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3e%3crect width='256' height='256' fill='none'/%3e%3cpolyline points='208 96 128 176 48 96' fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='24'/%3e%3c/svg%3e");
  }
}

:where(html, .theme-light) {
  @apply color-scheme-light;
}

:where(.theme-dark) {
  @apply color-scheme-dark;
}

@media (prefers-color-scheme: dark) {
  :where(html:not(.theme-light)) {
    @apply color-scheme-dark;
  }
}
