:where(html) {
  --font-family-primary: system-ui, -apple-system, BlinkMacSystemFont,
    “Segoe UI”, Roboto, Oxygen-Sans, Ubuntu, Cantarell, “Helvetica Neue”, Arial,
    sans-serif;
  --font-family-secondary: sans-serif;
  --font-family-monospace: ui-monospace, "Cascadia Code", "Source Code Pro",
    Menlo, Consolas, "DejaVu Sans Mono", monospace;

  --font-line-height: 1.5;

  /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,16,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --font-size--2: clamp(0.56rem, calc(0.74rem + -0.23vw), 0.69rem);
  --font-size--1: clamp(0.75rem, calc(0.86rem + -0.14vw), 0.83rem);
  --font-size-0: clamp(1rem, calc(1rem + 0.2vw), 1.25rem);
  --font-size-1: clamp(1.2rem, calc(1.15rem + 0.23vw), 1.33rem);
  --font-size-2: clamp(1.44rem, calc(1.32rem + 0.59vw), 1.78rem);
  --font-size-3: clamp(1.73rem, calc(1.51rem + 1.11vw), 2.37rem);
  --font-size-4: clamp(2.07rem, calc(1.7rem + 1.88vw), 3.16rem);
  --font-size-5: clamp(2.49rem, calc(1.89rem + 2.99vw), 4.21rem);

  --font-weight-regular: 500;
  --font-weight-bold: 700;
}
