.input-group {
  display: flex;
  gap: var(--space-xs);
  align-items: baseline;
}

.input-stack {
  display: grid;
  gap: var(--space-2xs);
}

.input-stack > label {
  justify-self: start;
}

.section + .section,
.section + .heading {
  margin-block-start: var(--space-xl);
}

.pancake + .pancake {
  margin-block-start: var(--space-xl);
}
