/**
 * Cluster
 * @cssprop --gap - Override the default gap.
 * @cssprop --row-gap - Set a custom row gap.
 * @cssprop --column-gap - Set a custom column gap.
 * @cssprop --align - Set the flexbox vertical alignment.
 * @cssprop --justify - Set the flexbox horizontal alignment.
 * {@link https://every-layout.dev/layouts/cluster/}
 */
.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, var(--row-gap, var(--space-m)))
    var(--gap, var(--column-gap, var(--space-m)));
  align-items: var(--align, center);
  justify-content: var(--justify, flex-start);
}
