/**
 * Center
 * @cssprop --gutters - Adjust inline gutter spacing on either side for narrower viewports.
 * @cssprop --max - Set the container's widest inline size.
 * @selector .intrinsic - Center align elements based on their natural inline sizes.
 * {@link https://every-layout.dev/layouts/center/}
 */
.center {
  margin-inline: auto;
  padding-inline: var(--gutters);
  inline-size: min(var(--max, var(--page-max-inline-size)), 100%);
}

.center.intrinsic {
  display: flex;
  flex-direction: column;
  align-items: center;
}
