/**
 * The Sidebar
 * @param --gap - Add space between the sidebar and main container.
 * @param --min - Stack elements when the main container falls below this inline size.
 * {@link https://every-layout.dev/layouts/sidebar/}
 */
.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.with-sidebar > :first-child,
.with-sidebar.reverse > :last-child {
  flex-grow: 1;
}

.with-sidebar > :last-child,
.with-sidebar.reverse > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: var(--min, 50%);
}
