/**
 * Stack
 * @cssprop --space - Override the default stack spacing.
 * @selector .flex - Set flexbox display on stack to unlock auto margin spacing.
 * {@link https://every-layout.dev/layouts/stack/}
 */
.stack > * {
  margin-block: 0;
}

.stack > * + * {
  margin-block-start: var(--space, var(--space-m));
}

.stack.flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
