:root {
  accent-color: var(--color-brand-1);
}

html {
  scrollbar-color: var(--color-brand-1) Canvas;
}

body {
  color: var(--color-text-1);
  background: var(--color-surface-2);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-0);
  line-height: var(--font-line-height);
}

:focus-visible {
  outline-color: var(--color-brand-1);
}

::marker {
  color: var(--color-brand-1);
}
