body {
  color: var(--color-text1);
  background: var(--color-surface2);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-0);
  line-height: var(--font-line-height);
}

code {
  font-family: var(--font-family-monospace);
  background-color: var(--color-surface2);
  border-radius: var(--radius-xs);
  padding: 0.125rem 0.25rem;
  font-size: 0.85em;
  position: relative;
  top: -0.025em;
}
