@mixin button {
  & {
    --button-icon-size: 1.25em;
    appearance: none;
    outline: revert;
    outline-offset: var(--focus-outline-offset);
    cursor: pointer;
    display: inline-flex;
    gap: var(--space-xs);
    padding: var(--space-xs) var(--space-s);
    font: inherit;
    text-align: center;
    color: var(--button-text-color, var(--color-text-1));
    background-color: var(--button-bg-color, var(--color-bg-1));
    border: var(--button-border-width, 1px) var(--button-border-style, solid)
      var(--button-border-color, currentcolor);
    border-radius: var(--radius-s);
    box-shadow: var(--shadow-light);
    line-height: normal;
    text-decoration: none;
    position: relative;
  }

  &:active {
    top: 1px;
  }
}

:is(button, input[type="submit"], input[type="reset"], .button) {
  @apply button;
}

:where(
    button,
    [type="submit"],
    [type="reset"],
    .button
  )[data-variant="primary"] {
  --button-bg-color: var(--color-brand-1);
  --button-border-color: var(--color-brand-1);
  --button-text-color: var(--color-text-inverse-1);
}

:where(
    button,
    [type="submit"],
    [type="reset"],
    .button
  )[data-variant="secondary"] {
  --button-bg-color: var(--color-brand-2);
  --button-border-color: var(--color-brand-2);
  --button-text-color: var(--color-text-inverse-1);
}

:where(
    button,
    [type="submit"],
    [type="reset"],
    .button
  )[data-variant="dashed"] {
  --button-border-style: dashed;
}

:where(button, [type="submit"], [type="reset"], .button) svg {
  inline-size: var(--button-icon-size);
  block-size: var(--button-icon-size);
}

[data-group="actions"] {
  justify-content: space-between;
  display: flex;
}
