input[type="checkbox"][role="switch"] {
  --_size: 1.5rem;
  --_offset: calc(var(--input-border-width) * 4);
  appearance: none;
  position: relative;
  display: grid;
  align-items: center;
  top: 0.0675em;
  outline-offset: var(--focus-outline-offset);
  padding-inline: calc(var(--_offset) / 1.5);
  width: calc(var(--_size) * 2);
  background-color: var(--color-surface-4);
  border: var(--input-border-width) var(--input-border-style)
    var(--input-border-color);
  border-radius: var(--radius-pill);
}

input[type="checkbox"][role="switch"]:before {
  content: "";
  width: calc(var(--_size) - var(--_offset) * 2);
  height: calc(var(--_size) - var(--_offset) * 2);
  border-radius: var(--radius-circle);
  box-shadow: var(--shadow-1);
  background-color: #fff;
  display: block;
}

input[type="checkbox"][role="switch"]:checked {
  border-color: var(--color-brand-1);
  background-color: var(--color-brand-1);
}

input[type="checkbox"][role="switch"]:checked:before {
  -webkit-transform: translateX(var(--_size));
  transform: translateX(var(--_size));
}

@media (prefers-reduced-motion: no-preference) {
  input[type="checkbox"][role="switch"]:before {
    transition: transform 0.2s var(--ease-out);
  }
}
