input[type="file"] {
  --_offset: 3px;
  appearance: none;
  padding: var(--_offset);
  box-shadow: none;
  background-color: transparent;
  border-style: dashed;
  cursor: pointer;

  &::file-selector-button {
    margin-right: var(--space-xs);
  }
}
