input[type="file"] {
  appearance: none;
  padding: unset;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;

  &::-webkit-file-upload-button {
    @apply button;
    --button-bg-color: var(--color-brand1);
    --button-border-color: var(--color-brand1);
    --button-text-color: var(--color-text1-inverse);
  }

  &:focus-visible::file-selector-button {
    outline: var(--focus-outline);
    outline-offset: 0;
  }
}
